@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
  background: rgb(6, 10, 20);
  background: -moz-linear-gradient(
    0deg,
    rgba(6, 10, 20, 1) 0%,
    rgba(9, 20, 46, 1) 100%
  );
  background: -webkit-linear-gradient(
    0deg,
    rgba(6, 10, 20, 1) 0%,
    rgba(9, 20, 46, 1) 100%
  );
  background: linear-gradient(
    0deg,
    rgba(6, 10, 20, 1) 0%,
    rgba(9, 20, 46, 1) 100%
  );
}

body {
  color: rgb(var(--foreground-rgb));
}
